@model Food4Life.Models.Recipe

@{
    ViewBag.Title = "Create new recipe";
}

<h3>Create new recipe</h3>

@using (Html.BeginForm("Create", "Recipes", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" } ))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_CommonFields")
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            //$('[data-entry=wysiwyg]').wysihtml5();
            $('.textareaeditor').wysihtml5();
        });
    </script>
}
